{{#if succMsg}}
<div class="alert alert-success"> {{succMsg}} </div>
{{/if}}

{{#if errMsg}}
<div class="alert alert-danger"> {{errMsg}} </div>
{{/if}}

{{#if error}}
<div class="alert alert-danger"> {{message}}</div>
{{/if}}