<h3> {{formTitlew}} </h3>

<form action="/employee" method="post">
    <div class="form-group">
        <label for="fullName">Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" class="form-control" name="mobile" placeholder="Mobile Number">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" placeholder="City">
    </div>
    <div class="form-group">
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>